<div class="question-module">

  <h2 ng-show="error">{{error}}</h2>

  <div class="question-module__question" ng-show="!error && !complete">
    <img src="/images/question.svg" alt="" class="svg">
    <div ng-show="type=='text'">
      <h1>Question {{number}}. {{text}}</h1>
      <div class="question-module__answer">
        <input type="text" ng-model="userAnswer"><button ng-click="checkAnswer()">Go</button>
      </div>
    </div>
    <div ng-show="type=='qr'">
      <h1>{{text}}</h1>
    </div>
    <div ng-show="type=='image'">
      <img ng-src="{{imageUrl}}" alt="">
    </div>

    <p ng-show="wrongMessage">{{wrongMessage}}</p>
  </div>
  <div class="question-module__next" ng-show="complete">
    <img src="/images/map.svg" alt="" class="svg">
    <p>Well done! Now, the next location is...</p>
    <div ng-show="nextType=='text'">
      <h1>{{nextText}}</h1>
    </div>
  </div>


  <!-- <p>Complete: {{complete}}</p> -->

</div>
